body {
  padding: 0;
  margin: 0;
  height: auto;
  background: #000;
}
/*NOTE SCROLLBAR MANIPULATION */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d7772;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f8680;
}
