@import url('https://fonts.googleapis.com/css?family=Poly&display=swap');
.footer {
  background: #363636;
  padding: 10px 0;
  color: white;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Saira Stencil One', cursive;
  letter-spacing: 1px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
