.formInput {
  top: 0;
  text-align: center;
  margin: 15px 0;
  width: 35rem;
  z-index: 99;
  transition: all linear 0.2s;
}

.formInput #formEle {
  width: 100%;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.formInput #formEle input {
  padding: 10px;
  background: black;
  font-size: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  color: white;
}

.formInput #formEle input:focus,
.formInput #formEle input:active,
.formInput #formEle input:hover {
  background: black;
  color: white;
}

.formInput #formEle input::-webkit-input-placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle input:-ms-input-placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle input::-ms-input-placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle input::placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle input:focus::-webkit-input-placeholder,
.formInput #formEle input:hover::placeholder,
.formInput #formEle input:hover::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle input:focus:-ms-input-placeholder,
.formInput #formEle input:hover::placeholder,
.formInput #formEle input:hover::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle input:focus::-ms-input-placeholder,
.formInput #formEle input:hover::placeholder,
.formInput #formEle input:hover::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle input:focus::placeholder,
.formInput #formEle input:hover::placeholder,
.formInput #formEle input:hover::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.formInput #formEle #buttonEle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #222222;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.formInput #formEle #buttonEle i {
  font-size: 15px;
  width: 15px;
  height: 15px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
  .formInput {
    width: 25rem;
    transition: all linear 0.2s;
  }
}
@media (max-width: 450px) {
  .formInput {
    width: 15rem;
    transition: all linear 0.2s;
  }
}
