$transEle: all linear 0.1s;

.headerPar {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  font-size: 2rem;
  display: inline-block;
  transition: $transEle;
}

@media (max-width: 450px) {
  .headerPar {
    font-size: 1.5rem;
    height: 2rem;
    transition: $transEle;
  }
}
