.navigationalEle {
  background: #363636;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  -webkit-transition: top ease-in-out 0.5s, background ease-in-out 1s;
  -o-transition: top ease-in-out 0.5s, background ease-in-out 1s;
  transition: top ease-in-out 0.5s, background ease-in-out 1s;
}

.navigationalEle--hidden {
  -webkit-transition: top ease-in-out 0.3s, background ease-in-out 0.3s;
  -o-transition: top ease-in-out 0.3s, background ease-in-out 0.3s;
  transition: top ease-in-out 0.3s, background ease-in-out 0.3s;
  top: -110px;
  background: transparent;
}

.navigationalEle .naviFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigationalEle .naviFlex .headerFlex {
  text-align: center;
  line-height: 25px;
  margin: 10px 0;
  color: white;
  font-family: 'Saira Stencil One', cursive;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .navigationalEle .naviFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 10px;
  }
}
