.pagination {
  text-align: center;
  .buttonParOne {
    padding: 10px;
    background-color: #363636;
    border: none;
    margin: 0 5px;
    // for mobile
    margin-bottom: 80px;
    border-radius: 20%;
    cursor: pointer;
    outline: none;
    transition: all linear 0.2s;
    &:active {
      transform: translate(0, -3px);
    }

    i {
      color: white;
      transition: all linear 0.2s;
    }
  }
  .buttonParTwo {
    padding: 10px;
    background-color: #363636;
    border: none;
    margin: 0 5px;
    border-radius: 20%;
    cursor: pointer;
    outline: none;
    transition: all linear 0.2s;
    &:active {
      transform: translate(0, -3px);
    }
    i {
      color: white;
      transition: all linear 0.2s;
    }
  }
}
