.videoList {
  color: unset;
  height: 100%;
  margin-top: 160px;
  margin-bottom: 100px;
  .textEle {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .gridEle {
    .centeredEle {
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .videoList {
    margin-top: 130px;
    margin-bottom: 100px;
    .textEle {
      font-size: 12px;
    }
  }
}
