.videoComp {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
}

.videoComp .image {
  border: 1px solid #262626;
  border-radius: 2px;
}

.videoComp .image img {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border-radius: 4px;
}

.videoComp .content #headerEle {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.videoComp .content #descEle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
