.videoList {
  color: unset;
  height: 100%;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.videoList .textEle {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
}

.videoList .gridEle .centeredEle {
  text-align: center;
}
@media (max-width: 767px) {
  .videoList {
    margin-top: 30px;
  }
}
